<div class="contenedor-kids">
  <div>
      <img  class="img-2" src="assets/IMGFlores(5).png" >
    </div>
  <div class="colum-kids">
    <p class="titulo-kids" data-aos="zoom-in" data-aos-duration="3000">
      {{traductorService.getTexto("tituloKids")}}
    </p>
    <p class="textosec" >
      Amamos a los pequeños y su alegría siempre llena
      cualquier lugar, pero para esta ocasión especial
      hemos decidido hacer una celebración pensada solo
      para adultos. <b>¡Gracias por tu comprensión y cariño!</b>
    </p>

  </div>
</div>
