<div class="contenedor-timeline">
  <div>
    <img src="assets/IMGFlores(4).png" class="img-1" data-aos="zoom-in-right">
  </div>
  <div class="colum-timeline">
    <div class="colum-timeline-text">
      <br /><br />
      
      <p class="timeline1" data-aos="zoom-in" data-aos-duration="3000">
        {{ traductorService.getTexto("tituloItinerario1") }}
      </p>
      <p class="linea">──────── ◆ ────────</p>
    </div>
    <br /><br />
    <div class="timeline-container">
      <div class="timeline-column-left">
        <div class="event">
          <img
            src="assets/iglesia.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Despedida"
          />
        </div>
        <div class="event">
          <img
            src="assets/brindis.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Ceremonia Religiosa"
          />
        </div>
        <div class="event">
          <img
            src="assets/pareja.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Nuestra Recepción"
          />
        </div>

        <div class="event">
          <img
            src="assets/plato.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Cena"
          />
        </div>
        <div class="event">
          <img
            src="assets/bola-de-disco.png"
            data-aos="zoom-in"
            data-aos-duration="3000"
            alt="Que Comience La Fiesta"
          />
        </div>
        <!--
        -->
      </div>

      <div class="timeline-line">
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
        <div class="timeline-point"></div>
      </div>

      <div class="timeline-column-right" data-aos="zoom-in" data-aos-duration="3000">
        <div class="event">
          <p class="event-title">Misa</p>
          <p class="event-time">12:00 PM</p>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">CÓCTEL</a>
          <div class="event-time-row">
            <a class="event-time">6:00 PM</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Entrada de <br />los novios</a>
          <div class="event-time-row">
            <a class="event-time">6:45 PM</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Cena</a>
          <div class="event-time-row">
            <a class="event-time">7:15 PM</a>
          </div>
        </div>

        <div class="event" style="cursor: pointer">
          <a class="event-title">Fiesta</a>
          <div class="event-time-row">
            <a class="event-time">8:00 PM</a>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

  </div>
</div>
