<section class="contenedor-timeline">
  <img src="assets/IMGFlores(4).png" class="img-1" data-aos="zoom-in-right" alt="">

  <div class="colum-timeline">
    <header class="timeline-header" data-aos="zoom-in" data-aos-duration="3000">
      <p class="timeline1">{{ traductorService.getTexto("tituloItinerario1") }}</p>
      <!-- <div class="linea" aria-hidden="true">
        <span></span>
        <b></b>
        <span></span>
      </div> -->
    </header>

    <div class="timeline-container" data-aos="zoom-in" data-aos-duration="3000">
      <article class="timeline-event">
        <div class="timeline-icon">
          <img src="assets/iglesia.png" alt="Misa">
        </div>
        <span class="timeline-point"></span>
        <div class="timeline-copy">
          <p class="event-title">Misa</p>
          <p class="event-time">12:00 PM</p>
        </div>
      </article>

      <article class="timeline-event">
        <div class="timeline-icon">
          <img src="assets/brindis.png" alt="Coctel">
        </div>
        <span class="timeline-point"></span>
        <div class="timeline-copy">
          <p class="event-title">Coctel</p>
          <p class="event-time">6:00 PM</p>
        </div>
      </article>

      <article class="timeline-event">
        <div class="timeline-icon">
          <img src="assets/pareja.png" alt="Entrada de los novios">
        </div>
        <span class="timeline-point"></span>
        <div class="timeline-copy">
          <p class="event-title">Entrada de<br>los novios</p>
          <p class="event-time">6:45 PM</p>
        </div>
      </article>

      <article class="timeline-event">
        <div class="timeline-icon">
          <img src="assets/plato.png" alt="Cena">
        </div>
        <span class="timeline-point"></span>
        <div class="timeline-copy">
          <p class="event-title">Cena</p>
          <p class="event-time">7:15 PM</p>
        </div>
      </article>

      <article class="timeline-event">
        <div class="timeline-icon">
          <img src="assets/bola-de-disco.png" alt="Fiesta">
        </div>
        <span class="timeline-point"></span>
        <div class="timeline-copy">
          <p class="event-title">Fiesta</p>
          <p class="event-time">8:00 PM</p>
        </div>
      </article>
    </div>
  </div>
</section>
