<div class="contenedor-confir-asistencia" id="confirm">
  <div class="colum-confir-asistencia" >
    <p class="titulop" data-aos="zoom-out" data-aos="zoom-in" data-aos-duration="3000">
      {{traductorService.getTexto("tituloConfirmacion")}}
    </p>
    <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSfcBoN3RXSmdUmIBGzRxsmKtLnMkcWEgmyu1l2XW4ugkpCcKg/viewform?usp=header" class="confir-asisten-button" style="width: 50%;">
      {{traductorService.getTexto("buttonForms")}}
    </a> -->
    <br>
    <p class="textSec" [innerHTML]="traductorService.getTexto('textoConfirmacionUno')">
    </p>
    <a href="https://forms.gle/HKCSFfW8qMJweDVg6" class="confir-asisten-button" style="width: 50%;">
      CONFIRMAR
    </a>
    <br><br>

  </div>
</div>
