<div class="contenedor-portada" >
  <div class="portada-container" >
    <img
      src="assets/IMGK&R (7).jpeg"
      alt="Invitación de Boda"
      class="imagen-portada"
    />
  </div>

  <div class="contenedor-conteo">
    <!--<div class="contenedor-button-idioma">
      <label class="switch">
        <input type="checkbox" (change)="cambiarIdioma($event)" [attr.checked]="traductorService.lenguaje === 'ES' ? null : false">
        <span class="slider"></span>
      </label>
      <label class="toggle-switch">
        <input type="checkbox"  [attr.checked]="traductorService.lenguaje === 'EN' ? true : false" (change)="cambiarIdioma($event)">
        <div class="toggle-switch-background">
          <div class="toggle-switch-handle"></div>
        </div>
      </label>-->
    <!--<p class="texto-idioma">
        {{traductorService.getTexto("traduccion")}}
      </p>
    </div>-->
    <div class="container-reg">
      <div class="textName">
        <p class="name2">ROBERTO</p>
        <p class="name1"> <span class="ampersand">y</span>  KARIN</p>
      </div>
    </div>

    <br><br>
    <div class="music-player">
      <audio id="audioPlayer" autoplay controls>
        <source src="assets/cancionBoda.mp3" type="audio/mp3" />
        {{ traductorService.getTexto("pCancion") }}
      </audio>
    </div>
    <!--
      <img src="assets/fecha.jpg" width="100%" data-aos="zoom-in" data-aos-duration="3000">
    -->
    <br><br>

    <div class="container-confir">
      <p class="textoT" style="text-transform: uppercase;" data-aos="zoom-in" data-aos-duration="3000">
          Sé parte del comienzo de nuestra nueva historia.
      </p>
      <p class="textosecf" data-aos="zoom-in" data-aos-duration="3000">
        <span class="textoBoda" style="color: #C9A35B;">Nuestra boda será el:</span> <br>
        <span class="green-text" style="color: #C9A35B;">28</span> | 
        <span class="green-text" style="color: #C9A35B;">11</span> | 
        <span class="green-text" style="color: #C9A35B;">26</span>
      </p>
      <img src="assets/ubicacion.png" width="10%" alt="ubicación" data-aos="zoom-in" data-aos-duration="3000">
      <p class="textoT" style="text-transform: uppercase;" data-aos="zoom-in" data-aos-duration="3000">
        Ciudad de Guatemala,
        Guatemala.
      </p>
      <br>
      <!-- <a
        (click)="scrollToSection('confirm')"
        class="cerm-recep-button">
        CONFIRMACIÓN
      </a> -->
    </div>
    <br><br>

    <br>
  </div>
</div>

<div class="contenedor-fech-img">
  <div class="colum-fech-img" data-aos="zoom-in" data-aos-duration="3000">
    <img class="img-pareja" src="assets/IMGK&R (10).jpeg" width="100%" >
    <br>
    <p class="textoTt " data-aos="zoom-in" data-aos-duration="3000">
      Después de tantas risas compartidas, recuerdos inolvidables y viajes que nos unieron aún más, hemos
      decidido preparar nuestras maletas una vez más, pero ahora para emprender la aventura más hermosa de
      todas: nuestro matrimonio.
    </p>

    <p class="tituloPadres" [innerHTML]="traductorService.getTexto('tituloInicialPadres')"></p>

    <p class="infoPadres" style="font-weight: bold;" [innerHTML]="traductorService.getTexto('nomPadresNovia')"></p>
    <p class="infoPadres">
      Borneo Roberto Hernández Varela 
      <br>
      Rose Mary García-Barzanallana Solórzano de Hernández
    </p><br>
    <p class="infoPadres" style="font-weight: bold;" [innerHTML]="traductorService.getTexto('nomPadresNovio')"></p>
    <p class="infoPadres">
      Gerwin Macdonal Herrera de León <br>
      Lorena Waleska Monzón Cahueque
    </p>
    <br><br>
    <p class="solofaltan" data-aos="zoom-in" data-aos-duration="3000">
      {{ traductorService.getTexto("soloFaltan") }}
    </p>
    <br>
    <div class="contador" data-aos="zoom-in" data-aos-duration="3000">
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="dias">365</div>
          <div class="etiqueta">
            {{ traductorService.getTexto("counterDias") }}
          </div>
        </div>
      </div>
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="horas">12</div>
          <div class="etiqueta">
            {{ traductorService.getTexto("counterHoras") }}
          </div>
        </div>
      </div>
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="minutos">45</div>
          <div class="etiqueta">
            {{ traductorService.getTexto("counterMinutos") }}
          </div>
        </div>
      </div>
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="segundos">30</div>
          <div class="etiqueta">
            {{ traductorService.getTexto("counterSeg") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
