<div class="contenedor-dress-code" data-aos="fade-up">
  <div>
    <!--
      <img src="assets/IMGFlores(2).png" class="img-1" data-aos="zoom-in-right">
    -->
    <img class="img-2" src="assets/IMGFlores(1).png">
  </div>
  <div class="colum-dress-code">

    <p class="titulop" data-aos="zoom-in" data-aos-duration="3000">Dress Code</p>
    <p class="titulo-dress">Estilo Formal</p>

    <div class="dress-columns">
      <div class="dress-cont">
        <p class="titulo-genero">Hombres</p>
        <img src="assets/IMGFlores(3).png" class="recursoIMgD" />
        <p class="descripcion">
          Traje <br>formal
        </p>
        <img src="assets/recursoIMGDressCode01.png" class="img-icon" alt="icono dress code" data-aos="zoom-in"
          data-aos-duration="3000" />
        <!--
          <a href="https://mx.pinterest.com/yaritzelramosg/dress-code/inspiraci%C3%B3n-mujeres/" class="btn-dress-code">INSPIRACIÓN</a>
          -->
      </div>
      <div class="divisor"></div>
      <div class="dress-cont">
        <p class="titulo-genero">Mujeres</p>
        <img src="assets/IMGFlores(3).png" class="recursoIMgD" />
        <p class="descripcion">
          Vestido <br>Elegante
        </p>
        <img src="assets/recursoIMGDressCode02.png" class="img-icon" alt="icono dress code" data-aos="zoom-in"
          data-aos-duration="3000" />
        <!--
          <a href="https://mx.pinterest.com/yaritzelramosg/dress-code/inspiraci%C3%B3n-hombres/" class="btn-dress-code">INSPIRACIÓN</a>
        -->
      </div>

    </div>
    <div class="dress-colors">

      <p class="textosec" [innerHTML]="traductorService.getTexto('textoVestimentaDos')">
      </p>

      <div class="colors-row">

        <div class="color-group">
          <p class="textosec">Corbata</p>
          <br>
          <div class="circles">
            <span class="circle sage"></span>
            <span class="circle navy"></span>
          </div>
        </div>

        <div class="color-group">
          <p class="textosec">Vestido</p>
          <br>
          <div class="circles">
            <span class="circle white"></span>
            <span class="circle sage"></span>
            <span class="circle red"></span>
          </div>
        </div>

      </div><br><br>

    </div>
    <br>
  </div>
</div>