<div class="contenedor-dress-code" data-aos="fade-up">
  <div>
    <img src="assets/IMGFlores(2).png" class="img-1" data-aos="zoom-in-right">
    <img  class="img-2" src="assets/IMGFlores(1).png" >
  </div>
  <div class="colum-dress-code">

    <p class="titulop" data-aos="zoom-in" data-aos-duration="3000">Dress Code</p>
    <p class="titulo-dress">Estilo Formal</p>
    <img src="assets/imgDressCode.png" class="img-icon" alt="icono dress code" data-aos="zoom-in" data-aos-duration="3000"/>
    <div class="dress-columns">
      <div class="dress-cont">
        <p class="titulo-genero">ELLAS</p>
        <p class="descripcion">
          Vestido Elegante
        </p>
        <!--
          <a href="https://mx.pinterest.com/yaritzelramosg/dress-code/inspiraci%C3%B3n-mujeres/" class="btn-dress-code">INSPIRACIÓN</a>
          -->
      </div>
      <div class="divisor"></div>
      <div class="dress-cont">
        <p class="titulo-genero">ELLOS</p>
        <p class="descripcion">
          Traje formal
        </p>
        <!--
          <a href="https://mx.pinterest.com/yaritzelramosg/dress-code/inspiraci%C3%B3n-hombres/" class="btn-dress-code">INSPIRACIÓN</a>
        -->
      </div>

    </div>
    <br>
    <div class="container-dress-code">
      <p class="textosec" [innerHTML]="traductorService.getTexto('textoVestimentaDos')">
      </p>
    </div>
    <br>
  </div>
</div>
