<div class="contenedor-cerem-recep">
  <div class="colum-cerm">
    <div>
      <img class="img-2" src="assets/IMGFlores(5).png" alt="">
    </div>
    <br>
    <img src="assets/anillos-de-boda.png" class="img-icon" alt="ceremonia">

    <p class="titulop" data-aos="zoom-in" data-aos-duration="3000">
      Ceremonia Civil y Recepci&oacute;n
    </p>
    <p class="linea" data-aos="zoom-in" data-aos-duration="3000">
      &mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash; &diams; &mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
    </p>
    <p class="textosec" data-aos="zoom-in" data-aos-duration="3000">
      <b>Real InterContinental Guatemala</b>
    </p>
    <p class="textosec direccion" data-aos="zoom-in" data-aos-duration="3000">
      14 Calle 2-51, Cdad. de Guatemala
    </p>
    <p class="hora" data-aos="zoom-in" data-aos-duration="3000">
      <b>17:45 Hrs.</b>
    </p>

    <div class="button-wrapper" data-aos="zoom-in" data-aos-duration="3000">
      <a href="https://maps.app.goo.gl/KVmktgDGMg3teimDA" class="cerm-recep-button">
        {{traductorService.getTexto("ubicacion")}}
      </a>
    </div>
  </div>
  <br>
  <br>
</div>
