<div class="contenedor-cerem-recep" data-aos="fade-up">
  <div class="colum-cerm" data-aos="zoom-in" data-aos-duration="3000">
    <div>
      <img class="img-2" src="assets/IMGFlores(5).png">
    </div>
    <br>
    <img src="assets/iglesia.png" class="img-icon" alt="ceremonia">
    <p class="titulop">Ceremonia y Recepción</p>
    <p class="linea">──────── ◆ ────────</p>
    <p class="textosec">
      <b>Real InterContinental Guatemala</b>
    </p>
    <p class="textosec" style="margin-left: 7%; margin-right: 7%;">
      14 Calle 2-51, Cdad. de Guatemala
    </p>
    <p class="hora">
      <b>17:45 Hrs.</b>
    </p>

    <div style="text-align: center;">
      <a href="https://maps.app.goo.gl/KVmktgDGMg3teimDA" class="cerm-recep-button">
        {{traductorService.getTexto("ubicacion")}}
      </a>
    </div>

  </div>
  <br>
  <br>
</div>