<div id="sobreContainer">
  <!-- Botón -->
  <div class="tooltipWrapper">
    <input
      type="image"
      src="assets/brocheImg.png"
      name="saveForm"
      class="selloButton"
      id="selloButton"
      aria-label="Abrir sobre"
    >
    <p id="clickText">Haz clic aquí</p>
  </div>

  <!-- Imágenes del sobre -->
  <img id="sobre1" src="assets/sobre2.png" alt="Lado izquierdo del sobre">
  <img id="sobre2" src="assets/sobre1.png" alt="Lado derecho del sobre">
</div>
<div id="contenido" class="contenido" style="display: none;">
  <div class="prueba">
    <app-portada></app-portada>
    <app-img-flores></app-img-flores>
    <!-- <app-nom-padres></app-nom-padres> -->
    <app-guar-fech></app-guar-fech><br>
    <app-cerm-recep></app-cerm-recep>
    <app-momentos></app-momentos>
    <app-timeline></app-timeline>
    <app-drees-code></app-drees-code>
    <app-regalos></app-regalos><br><br>
    <app-fech-img></app-fech-img><br><br>
    <app-kids></app-kids>
    <app-confirmacion-cuadrado></app-confirmacion-cuadrado>
    <!--
      <app-seg-img-flores></app-seg-img-flores>
      <app-confir-asisten></app-confir-asisten>
      <app-img-flores></app-img-flores>
      
      <app-confirmacion-cuadrado></app-confirmacion-cuadrado>
     -->
    <app-des-img></app-des-img><br><br>
    <app-glasmmy></app-glasmmy>
  </div>
</div>
