<br><br>
<div class="contenedor-regalos">

  <div class="colum-regalos">
    <div>
    </div>
    <div>
      <img class="img-2" src="assets/IMGFlores(5).png">
    </div>
    <img src="assets/regalo.png " data-aos="zoom-in" data-aos-duration="3000" alt="Regalos" class="img-icon" />
    <p class="titulop" data-aos="zoom-in" data-aos-duration="3000">Regalos</p>
    <p class="linea">──────── ◆ ────────</p>
    <div class="info-container">
      <p class="textosec">
        Tú presencia y bendiciones son nuestro mejor regalo, si te gustaría tener un detalle con nosotros estas son
        nuestras sugerencias.
      </p>
      <br>
      <br><br>
      <img src="assets/mesaRegalos.png" data-aos="zoom-in" data-aos-duration="3000" alt="Regalos" class="img-icon2" />
      <p class="subtituloRegalo">
        Mesa de Regalos
      </p>
      <a class="btn button-regalo" href="https://www.cemaco.com/list/barriosgonzalez" target="_blank"
        rel="noopener noreferrer">
        CEMACO
      </a>
      <br><br><br><br>

      <img src="assets/transferencia-movil.png" data-aos="zoom-in" data-aos-duration="3000" alt="Regalos" class="img-icon2" />
      <p class="subtituloRegalo">
        Transferencia
      </p>
      <p class="textosec">
        <strong>Núm. de cuenta:</strong> 141510000618
      </p>
      <p class="textosec">
        <strong>Tipo de cuenta:</strong> Ahorro
      </p>
      <p class="textosec">
        <strong>Banco:</strong> Banco CHN
      </p>
      <p class="textosec">
        <strong>Nombre:</strong> Roberto Hernandez Barzanalla y Karin Herrera
      </p>

    </div><br><br>
  </div>
</div>