<br><br>
<div class="contenedor-regalos">
  
  <div class="colum-regalos">
    <div>
    </div> 
    <div>
      <img  class="img-2" src="assets/IMGFlores(5).png" >
    </div>
    <img src="assets/regalo.png " data-aos="zoom-in" data-aos-duration="3000" alt="Regalos" class="img-icon"/>
    <p class="titulop" data-aos="zoom-in" data-aos-duration="3000">Regalos</p>
    <p class="linea">──────── ◆ ────────</p>
    <div class="info-container">
      <p class="textosec">
        Su presencia y bendiciones son nuestro mejor regalo, pero si te gustaría tener un detalle con nosotros estás son nuestras sugerencias.
      </p>
      <br>
      <a class="btn button-regalo" href="https://www.cemaco.com/list/barriosgonzalez" target="_blank" rel="noopener noreferrer">
            CEMACO
          </a>
    </div>
  </div>
</div>
