
<div class="contenedor-fech-img">
  <img src="assets/IMGFlores(4).png" class="img-1">
  <div class="colum-fech-img">
    <p class="titulo-momen" data-aos="zoom-in" data-aos-duration="3000">
      Nuestros momentos
    </p>
    <p class="linea">──────── ◆ ────────</p>
    <br>
    <!---->
    <div class="grid">
        <div class="grid-item">
        <img src="assets/IMGK&R (12).jpeg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item grid-item--width2">
        <img src="assets/IMGK&R (5).jpeg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item grid-item--width2">
        <img src="assets/IMGK&R (9).jpeg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item">
        <img src="assets/IMGK&R (6).jpeg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item">
        <img src="assets/IMGK&R (11).jpeg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
      <div class="grid-item grid-item--width2">
        <img src="assets/IMGK&R (2).jpeg" class="grid-item" data-aos="zoom-in" data-aos-duration="3000">
      </div>
    </div>
    <br>
    <!--
      <p class="textosec">
        Queremos revivir la boda a través de tus ojos!Habrá un código QR disponible durante el evento para que puedas subir las fotos y momentos especiales que captures.
      </p>
      <img src="assets/BodaQr.png" width="40%">
    -->
  </div>
</div>
